@import './variables';

@mixin glass {
    background: $glass-bg;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid $border-color;
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: $scrollbar-color;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbar-color;
        border-radius: 10px;
        transition: all 0.3s ease;

        &:hover {
            background: $scrollbar-hover-color;
            box-shadow: 0 0 8px $scrollbar-hover-color;
        }
    }
}